@tailwind base;

@tailwind components;
@import './styles/app-input.css';
@import './styles/app-button.css';
@import './styles/app-link.css';

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Ubuntu', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --nprogress-bar-color: rgb(20, 165, 100);
}

/* customize FluentUI MessageBar */
.ms-MessageBar {
    border-radius: 5px;
    overflow: hidden;
}
.ms-ProgressIndicator-progressBar {
    background: linear-gradient(
        to right,
        rgb(237, 235, 233) 0%,
        var(--nprogress-bar-color) 50%,
        rgb(237, 235, 233) 100%
    );
}
/* .ms-ProgressIndicator-progressTrack {
    @apply dark:bg-slate-800;
} */

/* customize NProgress */
#nprogress .bar {
    background: var(--nprogress-bar-color);
}
#nprogress .peg {
    box-shadow: 0 0 10px rgb(49, 239, 141), 0 0 5px rgb(34, 221, 168);
}
#nprogress .spinner {
    transform: translateY(10px);
}
#nprogress .spinner-icon {
    border-top-color: var(--nprogress-bar-color);
    border-left-color: var(--nprogress-bar-color);
}
